body{
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.card{
    background-image: url(background.jpeg);
    border-radius: 4px;
    height: 100vh;
    width: 85vh;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}

@media only screen and (min-width: 1000px){
    .card{
        flex-direction: row-reverse;
    }
    .card img.birthday{
        max-height: 40%;
    }
}
img.birthday{
    max-height: 40vh;
    
}

.text{
    padding: 1em;
    color: peachpuff;
}

.muted{
    opacity: 0.8;
    right: 40px;
}

.space{
    height: 100px;
}

